* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
}

article {
    width: 300px;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    margin: 50px auto 20px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #ccc;
}

article h2 {
    padding: 10px;
    color: whitesmoke;
}

article .count {
    padding: 5px;
}

article #timer {
    padding: 5px;
    color: black;
    background-color: whitesmoke;
    border-radius: 2px;
}

article #botao {
    padding: 5px;
    margin: 2px;
    font-family: 'Source Code Pro', monospace;
}